/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input[type=button] {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --prim-rgb: 31, 141, 97;
  --scnd-rgb: 254, 213, 80;
  --trd-rgb: 255, 114, 114;
  --bg-rgb: 255, 247, 234;
}

:root {
  --mobile-head: 90px;
  --desktop-head: 110px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

[class*=col-],
.col {
  box-sizing: border-box;
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666666%;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.333333%;
  }
  .col-md-2 {
    width: 16.666666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333333%;
  }
  .col-md-5 {
    width: 41.666666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333333%;
  }
  .col-md-8 {
    width: 66.666666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333333%;
  }
  .col-md-11 {
    width: 91.666666%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .col-lg-1 {
    width: 8.333333%;
  }
  .col-lg-2 {
    width: 16.666666%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.333333%;
  }
  .col-lg-5 {
    width: 41.666666%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333%;
  }
  .col-lg-8 {
    width: 66.666666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.333333%;
  }
  .col-lg-11 {
    width: 91.666666%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.333333%;
  }
  .col-xl-2 {
    width: 16.666666%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.333333%;
  }
  .col-xl-5 {
    width: 41.666666%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.333333%;
  }
  .col-xl-8 {
    width: 66.666666%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.333333%;
  }
  .col-xl-11 {
    width: 91.666666%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
.row-cols-1 > .col {
  width: 100%;
}

.row-cols-2 > .col {
  width: 50%;
}

.row-cols-3 > .col {
  width: 33.333333%;
}

.row-cols-4 > .col {
  width: 25%;
}

.row-cols-5 > .col {
  width: 20%;
}

.row-cols-6 > .col {
  width: 16.666666%;
}

@media screen and (min-width: 768px) {
  .row-cols-md-1 > .col {
    width: 100%;
  }
  .row-cols-md-2 > .col {
    width: 50%;
  }
  .row-cols-md-3 > .col {
    width: 33.333333%;
  }
  .row-cols-md-4 > .col {
    width: 25%;
  }
  .row-cols-md-5 > .col {
    width: 20%;
  }
  .row-cols-md-6 > .col {
    width: 16.666666%;
  }
}
@media screen and (min-width: 1024px) {
  .row-cols-lg-1 > .col {
    width: 100%;
  }
  .row-cols-lg-2 > .col {
    width: 50%;
  }
  .row-cols-lg-3 > .col {
    width: 33.333333%;
  }
  .row-cols-lg-4 > .col {
    width: 25%;
  }
  .row-cols-lg-5 > .col {
    width: 20%;
  }
  .row-cols-lg-6 > .col {
    width: 16.666666%;
  }
}
@media screen and (min-width: 1200px) {
  .row-cols-xl-1 > .col {
    width: 100%;
  }
  .row-cols-xl-2 > .col {
    width: 50%;
  }
  .row-cols-xl-3 > .col {
    width: 33.333333%;
  }
  .row-cols-xl-4 > .col {
    width: 25%;
  }
  .row-cols-xl-5 > .col {
    width: 20%;
  }
  .row-cols-xl-6 > .col {
    width: 16.666666%;
  }
}
body {
  font-family: "Noto Sans TC", Arial, Helvetica, sans-serif;
  background-color: #FFF7EA;
}

* {
  box-sizing: border-box;
  letter-spacing: 1px;
  color: #575655;
}

p, article {
  line-height: 1.5;
}

.pic {
  overflow: hidden;
}
.pic img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[class*=btn_],
.btn {
  text-align: center;
  width: fit-content;
  border-radius: 50rem;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid #000;
  color: #fff;
  background-color: #1F8D61;
  box-shadow: 0px 3px 0px #000;
}
[class*=btn_]:hover,
.btn:hover {
  box-shadow: none;
  transform: translate(0px, 3px);
}

a[class*=btn_] {
  display: inline-block;
}

.btn_xs, .btn_scd_xs {
  line-height: 2;
  padding: 0 14px;
  font-size: 14px;
  letter-spacing: 1px;
}

.btn_scd_xs {
  background-color: #FED550;
  color: #000;
}

.btn_s, .btn_scd_s {
  line-height: 2;
  padding: 0 20px;
  font-size: 20px;
  letter-spacing: 1px;
}

.btn_scd_s {
  background-color: #FED550;
  color: #000;
}

.btn_m, .btn_scd_m {
  line-height: 2;
  padding: 0 24px;
  font-size: 24px;
  letter-spacing: 1px;
}

.btn_scd_m {
  background-color: #FED550;
  color: #000;
}

.btn_l, .btn_scd_l {
  line-height: 2;
  padding: 0 32px;
  font-size: 32px;
  letter-spacing: 2px;
}

.btn_scd_l {
  background-color: #FED550;
  color: #000;
}

.btn_arrow {
  display: flex;
  align-items: center;
}
.btn_arrow img[src*=arrow_long] {
  margin-left: 20px;
}

.btn_icon {
  aspect-ratio: 1/1;
  box-shadow: 0px 2px 0px #000;
  border-width: 1px;
}
.btn_icon i {
  font-size: 20px;
  margin: 2px;
}

.btn_flat, .btn_left, .btn_right {
  border: 2px solid #1F8D61;
  box-shadow: none;
  background-color: transparent;
  color: #1F8D61;
  position: relative;
  overflow: hidden;
}
.btn_flat::before, .btn_left::before, .btn_right::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50rem;
  background-color: #1F8D61;
  transition: 0.3s;
}
.btn_flat:hover, .btn_left:hover, .btn_right:hover {
  transform: translate(0px, 0px);
  background-color: #1F8D61;
  color: #fff;
}
.btn_flat:hover::before, .btn_left:hover::before, .btn_right:hover::before {
  right: 0%;
}

.btn_circle {
  aspect-ratio: 1/1;
  padding: 16px;
}

.btn_left, .btn_right {
  display: flex;
  align-items: center;
  gap: 8px;
}
.btn_left span, .btn_right span {
  position: absolute;
  transition: 0.3s;
}
.btn_left i, .btn_right i {
  line-height: 1.5;
}
.btn_left:hover span, .btn_right:hover span {
  position: relative;
}

.btn_right span {
  right: 100%;
}
.btn_right:hover span {
  right: 0;
}

.btn_left.btn_flat::before, .btn_left::before {
  right: 0;
  left: 100%;
}
.btn_left span {
  order: 2;
  left: 100%;
}
.btn_left:hover span {
  left: 0;
}
.btn_left:hover.btn_flat::before, .btn_left:hover::before {
  left: 0%;
}

input[type=email],
input[type=text],
input[type=password] {
  display: block;
  font-size: 14px;
  line-height: 1.5;
  background-color: transparent;
  border-radius: 8px;
  padding: 8px 24px;
}
input[type=email]::placeholder,
input[type=text]::placeholder,
input[type=password]::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.test {
  padding-left: 18px;
  padding-right: 18px;
}
.test .row {
  margin-left: -18px;
  margin-right: -18px;
}
.test [class*=col-],
.test .col {
  padding-left: 18px;
  padding-right: 18px;
}

.select.open .option, .select.open {
  background-color: #ffa5a5;
  border: 1px solid #000;
}

.select {
  position: relative;
  width: 110px;
  height: 36px;
  font-size: 14px;
  text-align: center;
  color: #000;
  border: 1px solid #000;
  border-radius: 18px;
  cursor: pointer;
  transition: 0.1s;
}
.select.open {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.placeholder {
  padding: 0px 24px;
  line-height: 36px;
}

.placeholder .fa-chevron-down {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  font-size: 10px;
}

.option {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
}
.option li {
  padding: 6px 24px;
}
.option li:first-child {
  padding-top: 12px;
}
.option li:last-child {
  padding-bottom: 12px;
}/*# sourceMappingURL=all.css.map */