body{
    font-family: $prim-font, 
                Arial, Helvetica, sans-serif;
    background-color: $bg;
    
}
*{
    box-sizing: border-box;
    letter-spacing: 1px;
    color: $text;
}

p,article{
    line-height: 1.5;
}

.pic{
    overflow: hidden;
    img{
        @include img-fit;
    }
}