.gift_modal{
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 21;
    margin: auto;
    width: 380px;
    height: fit-content;
    background-color: #fff;
    border-radius: $m-br;
    padding: $sp6 $sp3 $sp4;
    &::before{
        position: absolute;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
    }
    .pic{
        width: 100%;
        aspect-ratio: 9/5;
        border: 2px solid $text;
        border-radius: $m-br;
    }
    .info{
        margin-top: $sp4;
        p{
            font-size: $s-font;
            &:not(:first-child){
                margin-top: $sp2;
            }
        }
    }
}

@include pad-H{
    .gift_modal{
        width: 540px;
        padding: $sp6 $sp4 $sp5;
        .info{
            padding-left: $sp2;
        }
    }
}