@include pad-H{
    .member_info{
        left: 0;
        top: 0;
    }
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info_edit_btn{
    i{
        font-size: $xs-font;
        margin: 4px;
    }
}
.info{
    padding: 0 $sp1;
}
.info_item{
    font-size: $xs-font;
    margin-top: $sp2;
    input{
        display: inline;
        background-color: transparent;
        border: none;
        padding: 0;
        height: fit-content;
    }
}
@include pad-H{
    .info{
        padding: 0 $sp3;
    }
}

.change_psw{
    margin-top: $sp2;
}
@include pad-H{
    .change_psw{
        margin-left: $sp3;
    }
}