@include pad-H {
    .member_share {
        right: 0;
    }
}

.member_share {
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .select {
        width: 130px;
    }
}

.share_item {
    margin-top: $sp3;
    border: 2px solid $primary;
    border-radius: $m-br;
    background-color: $bg--;
    padding: $sp3;

    .pic {
        width: 100%;
        aspect-ratio: 9/5;
        border-radius: $s-br;
    }

    .share_title_wrap {
        display: flex;
        justify-content: space-between;
        padding: 0 $sp2;
        margin-top: $sp3;
    }

    .name {
        font-size: $s-font;
        font-weight: 700;

    }

    .date {
        font-size: $xs-font;

    }

    .content {
        margin-top: $sp3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 $sp2;
        height: 66px;
        background-color: $secondary--;
        border-radius: $s-br;

        input[type="text"] {
            font-size: $s-font;
            border: none;
            border-bottom: 1px solid #000;
            border-radius: 0px;
            padding: $sp1;
            flex-grow: 1;
            margin-right: $sp2;

            &:focus-visible {
                outline: none;
                
            }
        }

        p {
            font-size: $s-font;
        }

        input[type="text"],
        .fa-floppy-disk {
            display: none;
        }

        &.can_edit {

            p,
            .fa-pen {
                display: none;
            }

            input[type="text"],
            .fa-floppy-disk {
                display: block;
            }
        }
    }
}

.edit_massage.btn_icon {
    i {
        font-size: $xs-font;
    }
}

@include pad-H {
    .share_item {
        display: grid;
        grid-template-columns: repeat(2, auto);

        .pic {
            grid-area: 1/1/3/2;
        }

        .share_title_wrap {
            flex-direction: column;
            margin-top: 0;
            grid-area: 2/2/3/3;
            padding-bottom: $sp2;
        }

        .date {
            margin-top: $sp2;
        }

        .content {
            border-radius: $s-br;
            grid-area: 3/1/4/3;
        }
    }
}