$input-h: 32px;
@include pad-H{
    .member_history{
        right: 0;
        top: 0;
    }
}
.search_group{
    margin-top: $sp2;
    display: flex;
    flex-direction: column;
    & > *:not(:first-child){
        margin-top: $sp1;
    }

}
.select_group{
    display: flex;
    flex-wrap: nowrap;
    gap: $sp2;
    .select{
        width: calc(100% - $sp2 *2);
    }
    .placeholder{
        line-height: $input-h;
    }
}
.member_history input.search_bar{
    height: $input-h;
}
.search_btn.btn_xs.btn_flat{
    line-height: $input-h;
    width: 100%;
}


@include pad-H{
    $input-h: 38px;
    .search_group{
        display: grid;
        grid-template-columns: 75% 1fr;
        & > *:not(:first-child){
            margin-top: $sp2;
        }
        .placeholder{
            line-height: $input-h;
            border-radius: calc($input-h / 2);
            // font-size: 16px;
        }
    }
    .select_group{
        gap: $sp1;
    }
    .member_history input.search_bar{
        grid-area: 2/1/3/2;
        height: $input-h;
    }
    .search_btn.btn_xs.btn_flat{
        width: 80%;
        grid-area: 2/2/3/3;
        justify-self: end;
        line-height: $input-h;
    }
}

.order_history{
    margin-top: $sp3;
}
.order_item{
    margin-top: $sp2;
    border: 2px solid $primary;
    border-radius: $m-br;
    background-color: $bg--;
    padding: $sp2;
    &.collapse{
        position: relative;
        .shop_item:not(:nth-child(1)){
            opacity: 0;
            visibility: hidden;
            position: absolute;
            transition: opacity 0s , visibility 0s;
        }
        .shoplist_toggle{
            svg{
                transform: rotate(0deg);
            }
        }
    }
    .shop_item:not(:first-child){
        transition: opacity .3s .5s,visibility .3s .5s;
    }
}
.order_info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    p{
        font-size: $xs-font;
        &:last-child{
            grid-column: 2 span;
        }
    }
}

@include pad-H{
    .order{
        padding: $sp2 $sp3;
    }
    .order_info{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        p{
            margin-top: $sp1;
            &:last-child{
                grid-column: 1 span;
            }
        }
    }
}

@include desktop{
    .order_item{
        &.collapse{
            .shop_item{
                opacity: 0;
                visibility: hidden;
                position: absolute;
                transition: opacity 0s , visibility 0s;
                &:nth-child(1), &:nth-child(2){
                    opacity: 1;
                    visibility: visible;
                    position: relative;
                }
            }
            
        }
        .shop_item{
            transition: opacity .3s .5s,visibility .3s .5s;
        }
    }
}

.shop_item{
    margin-top: $sp2;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(3, 1fr);
    column-gap: $sp1;
    align-items: center;
    opacity: 1;
    transition: opacity .3s,  display .1s .3s;
    .pic{
        border-radius: $m-br;
        grid-row: 3 span;
        aspect-ratio: 9/5
    }
    .category{
        @include pill(70px);
        line-height: 30px;
        font-size: $xs-font;
        font-weight: 700;
        background-color: $secondary--;
        text-align: center;
        justify-self: center;
    }
    .name, .amount{
        font-size: $xs-font;
        text-align: center;
    }
    
}

@include pad-H{
    .shop_item{
        
        .name, .amount{
            font-size: 16px;
            text-align: center;
        }
        
    }
}

@include desktop{
    .order_list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: $sp2;
        row-gap: $sp2;
    }
    .shop_item{
        grid-template-columns: auto 1fr auto;
        grid-template-rows: repeat(2, auto);
        row-gap: $sp1;
        column-gap: 0px;
        align-items: center;
        .pic{
            border-radius: $s-br;
            grid-area: 1/1/2/4
        }
        .category{
            @include pill(70px);
            line-height: 30px;
            font-size: $xs-font;
            justify-self: start;
            grid-area: 2/1/3/2;
        }
        .name{
            grid-area: 2/2/3/3;
            justify-self: center;
        }
        .amount{
            grid-area: 2/3/3/4;
            justify-self: end;
            transform: translateX(-8px);
        }
        
    }
}

.shoplist_toggle.btn_flat{
    margin-top: $sp3;
    line-height: 30px;
    width: 100%;
    svg{
        transform: rotate(180deg);
        transition: .3s;
    }
}