.index_farmer_pic {
    // width: 250px;
}

.framer p {
    text-align: center;
    color: $primary;
    padding: 30px;
    font-weight: bolder;
    font-size: $s-font;
}

.index_farmer_pic img {
    width: 100%;
}

.carousel__track {
    width: 100%;
    /* 或者你想要設定的適當寬度 */
}




//輪播箭頭

.framer {
    .carousel_wrap {
        max-width: 1200px;
        margin: 100px auto 100px;

        .carousel__next,
        .carousel__prev {
            background-color: #fff;
            border: 1px solid $primary;
            border-radius: 50%;
            top: 42%;
            transform: translateY(-50%);

            .carousel__icon {
                fill: $primary;
            }
        }

        .farmer_card {
            .index_farmer_pic {

                width: 350px;
            }
        }


    }
}

@include pad-V {
    .farmer_name {
        p {
            font-size: $m-font;
        }
    }
}