.index_health_banner{
    height: 100vh;
    overflow: hidden;
    background-color: $primary--;
    display: flex;
    align-items: center;
    
    .index_health_wrap{
        display: flex; 
        .title{
        padding: 0 $sp4;
        font-size: 64px;
        font-weight: 900;
        margin-top: auto;
        margin-bottom: auto;
        }
        div{
            width: 100%;
            // min-width: 100vw; //設置最小寬度保證可以橫向排列
            transition: transform 0.5s ease; 
        }
    }
}
.index_health_banner.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.sticky-placeholder {
    height: 100vh;
}