
.forget_container{
    height: 500px;
    overflow: scroll;
    margin: 20px;
    padding: 30px;
    width: 450px;
    border: solid 2px;
    border-radius: 10px;
    background-color: #ffffff80;
    
    .forget_normal{
        h4{
            text-align: center;
            margin: 10px;
            font-size: $m-font;
        }
        height: 420px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .text_wrap{
            input{
                margin: 10px 0;
                width: 100%;
            }
        }
        .confirm_btn{
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
    }
}