$mobile-head: 90px;
$toggle-link-h: 52px;
.mainheader{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: $bg;
    width: 100%;
    height: $mobile-head;
    display: flex;
    align-items: center;
    padding: 0 $sp3;
    .main_nav{
        display: flex;
        padding-top: $sp3;
    }
    nav > *{
            font-weight: 700;
            font-size: $s-font;
            line-height: $toggle-link-h;
            padding: 0 $sp5;
    }
    .circle{
        position: absolute;
        bottom: 0;
        aspect-ratio: 1/1;
        width: calc(100% / 5);
        border-radius: 50%;
        background-color: $bg;
        z-index: -1;
        transform: scale(1.5);
        @for $i from 1 through 5{
            &:nth-child(#{$i}){
                left: calc(calc($i - 1) * 100 / 5 * 1%);
            }
        }
        &:nth-child(1), &:nth-child(5){
            bottom: 8px;
        }
        &:nth-child(2), &:nth-child(4){
            bottom: 4px;
        }
    }
}
@media screen and (max-width: 766px){
    .mainheader{
        justify-content: space-between;
        .main_nav{
            position: fixed;
            z-index: -2;
            top: $mobile-head;
            right: 100%;
            width: 100%;
            height: calc(100vh - $mobile-head);
            background-color: $bg--;
            flex-direction: column;
            transition: .3s;
            &.open{
                right: 0;
            }
        }
        nav > *{
                border-bottom: 2px solid $bg;
        }
    }
}
.subtoggle_btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sub_toggle_list{
    padding-top: $sp3;
    position: absolute;
    width: 100%;
    height: calc(100vh - $mobile-head);
    top: 0;
    left: 200%;
    z-index: 2;
    background-color: $bg--;
    display: flex;
    flex-direction: column;
    transition: .3s;
    
    &.open{
        left: 0;
    }
}

.goback {
    padding: 0 $sp5;
    i{
        margin-left: calc($sp1 * -1);
    }
}
    

@media screen and (max-width: 766px){
    
}
.cart_toggle_btn{
    .title_wrap{
        display: flex;
        align-items: center;
    }
    
}
.shopping_bag{
    position: relative;
    top: 10px;
    margin-left: $sp2;
    figcaption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -65%);
        color: $secondary;
        font-size: $s-font;
        font-weight: 700;
    }
    .goback{
        flex-grow: 0;
    }
}
.sub_toggle_cart{
    @extend .sub_toggle_list;
    padding-bottom: $sp3;
    display: flex;
    flex-direction: column;
    &.open{
        left: 0;
    }
}

.cart_content{
    width: 95%;
    min-height: $toggle-link-h;
    margin: $sp2 auto auto;
    border: 3px solid $primary;
    border-radius: $s-br;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.week_tabs{
    display: flex;
    margin: -3px -3px 0;
    .tab{
        width: 33.333333%;
        background-color: $primary;
        border-radius: $s-br;
        border: 3px solid $primary;
        border-bottom: none;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        color: #fff;
        font-size: $xs-font;
        text-align: center;
        text-transform: uppercase;
        &.active{
            background-color: transparent;
            color: $primary;
        }
    }
    
}
.cart_list{
    padding: 0 $sp3;
    overflow-y: scroll;
    flex-grow: 1;
    width: 100%;
}
.cart_item{
    border-bottom: 2px solid lighten($text, 40%);
    padding: $sp2 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    column-gap: $sp2;
    .dish_pic{
        position: relative;
        grid-row: 2 span;
        width: 100%;
    }
    .pic{
        grid-row: 2 span;
        aspect-ratio: 9/5;
        border-radius: $xs-br;
        
    }
    .amount{
        position: absolute;
        bottom: 100%;
        right: 10px;
        transform: translateY(50%);
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        font-size: $s-font;
        text-align: center;
        font-weight: 700;
        background-color: $secondary;
    }
    .category{
        font-size: $xs-font;
        font-weight: 700;
        text-align: center;
        line-height: 30px;
        padding: 0 $sp3;
        width: fit-content;
        background-color: $secondary--;
        border-radius: 50rem;
    }
    .name{
        font-size: $s-font;
    }

}

.group_btn{
    display: flex;
    align-items: center;
    padding: $sp3;
    background-color: $bg--;
    gap: $sp2;
    border-bottom-left-radius: $m-br;
    border-bottom-right-radius: $m-br;
    [class*="btn_"]{
        width: 50%;
    }
}
%nav-button{
    width: 44px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid $primary;
}
.hamburger{
    @extend %nav-button;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    span{
        @include pill(70%, 2px);
        background-color: $primary;
    }
}
.header_logo h1{
    @include img-replace-h1(85px, 110px, '@/assets/images/logo/logo.png');
    background-position: 3px;
    transform: translateY($sp1);
}
.member{
    @extend %nav-button;
    img{
        display: block;
        margin: auto;
        width: 24px;
    }
    h4{
        display: none;
    }
}

@include desktop{
    .mainheader{
        background-color: $primary--;
        height: 110px;
        .main_nav{
            margin-left: auto;
            margin-right: $sp2;
            align-items: center;
            gap: 70px;
            padding: 0 $sp5;
            height: fit-content;
            background-color: $primary;
            border-radius: 50rem;
            a{
                color: $bg--;
                line-height: 60px;
                &:hover{
    
                }
            }
        }
    }
}