.signup_container{
   
    overflow-y: scroll;
    border-bottom-left-radius: $s-br;
    border-bottom-right-radius: $s-br;
    @extend %scrollbar_style;
    &::-webkit-scrollbar-thumb {
        background-color: #aaa;
    }
    
}
.must_fill{
    font-size: 10px;
    color: $third;
    margin-left: $sp2;
    visibility: hidden;
}
.signup_input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    label{
        margin: 5px 0;
    }
    
    input{
        margin: 5px 0;
    }
    .text_wrap{
        margin-top: 0;
    }
    .gender_wrap{
        margin-left: $sp3;

        width: 50%;
        .check{
            display: flex;
            margin: 13px 0;
            &>*{
                display: flex;
            }
            .female{
                margin: 0 $sp3;
            }
        }
    }
}
.select_box{
    margin-top: $sp2;
    label{
        margin: 5px 0;
    }
    .select_wrap{
        display: flex;
        justify-content: space-between;
        select{
            margin: 5px 0;
            text-align: center;
            // @extend %scrollbar_style;
        }
    }
    #birth_year{
        width: 40%;
    }
    #birth_month, #birth_day{
        width: 25%;
    }
}
.text_wrap{
    margin-top: $sp2;
    input{
        margin: 5px 0;
        width: 100%;
    }
}
.address_wrap{
    display: flex;
    justify-content: space-between;
    gap: $sp1;
    margin-top: $sp1;
    
    .city{
        width: 50%;
    }
    .state{
        width: 50%;
    }
}
.submit_btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}