.about_us {
    max-width: 1200px;
    margin: auto;
    
    .about_us_content{
        margin: 20px;
    }
    .about_us_pic {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .about_us_text{
        margin-bottom: 30px;
    }
        h3{
            font-size: 20px;
            padding: 10px;
            text-align: center;
            color: $primary;
            font-weight: bolder;
        }
        p{
        color: $primary; 
        }
  }
  .about_farmer{
    background-color: #fff;
    padding: 15px;
    margin: 15px;
    border: solid 5px $primary;
    border-radius: 20px;
    position: relative;
    .about_farmer_decorate,.about_farmer_decorate1{
        display: none;
    }
    .farmer_pic{
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    img {
        width: 100%;
      }
    }
    .index_btn_l{
        margin: auto;
        padding: $sp2;
    }
}

.about_order {
    .about_orderpic {
      width: 60%;
      margin: auto;
      .index_order_pic {
        width: 100%;
        position: relative;

        &::after {
            position: absolute;
            content: '';
            width: 50px;
            height: 50px;
            background-image: url(../assets/images/about/arrow.png);
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            right: -50px;
            top: 50%;
        }

      // 第一个 .index_order_pic 元素隐藏箭头
    //   &:nth-child(1)::after {
    //     content: none;
    //   }
        img {
          width: 100%;
        }
      }
      .index_order_arrow{
        display: none;
      }
    }
  }



.about_order_illustrate{
    margin: 20px;
    text-align: center;
    background-color: $secondary--;
    padding: 20px;
    border-radius: 20px;
}
.about_order_illustrate h2{
    color: $primary;
    font-weight: bolder;
}

.about_ask {
    border: solid $primary 5px;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;

    .name {
    margin: 10px;
    gap: 10px;
    display: grid;
    }
    .email {
    margin: 10px;
    gap: 10px;
    display: grid;
    }
    .order { 
        input{
        margin: 10px;
        gap: 10px;
        width: 93%;
    }
    }
    .note textarea {
        margin: 9px;
        width: 95%;
        padding: 10px;
        border-radius: 10px;
        height: 158px;
        border: 2px solid;
    }
    .index_btn_l{
        margin: auto;
        padding: $sp2;
    }
  }

// min-width: 768px
  @include pad-V {
    .about_us_content{
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        flex: 1;
    }
    .about_us_pic{
        flex: 1;
        width: 50%;
        img{
            width: 100%;
        }
    }
    .about_us_text {
        flex: 1;
        text-align: left;
        position: relative;
        justify-content: center;
        h3{
            padding: 20px;
            font-size: $l-font;
        }
        p{
            font-size: $s-font;
        }
    }
    .about_farmer{
        display: flex;
        .farmer_pic{
            flex: 1;
        }
        img{
            width: 100%;
        }
    }
    .about_farmer_future{
        align-items: center;
        display: flex;
        flex: 1.5;
        flex-direction: column;
        justify-content: center;
        h3{
            font-size: $l-font;
        }
        p{
            font-size: $s-font;
            line-height: 1.6;
        }
    }
    .about_order {
        h3{
            font-size: 36px;
        }
     
        .about_orderpic {
          width: 60%;
          margin: auto;
          display: flex;
          justify-content: space-between;
      
          // 偶數索引
          &.even {
            margin-left: 35%;
          }
      
          // 奇數索引
          &.odd {
            margin-right: 35%;
          }
      
          .index_order_pic {
            justify-content: center;
            display: grid;
      
            img {
              width: 100%;
            }
          }
      
          .index_order_arrow {
            display: none;
          }
        }
      }
    .about_ask {
        justify-content: center;
        display: grid;
        .name {
          margin: 10px;
          gap: 10px;
          display: flex;
        }
        .email {
          margin: 10px;
          gap: 10px;
          display: flex;
        }
        .order { 
            input{
            margin: 10px;
            width: 460px;
        }

        }
        .note textarea {
          margin: 9px;
          width: 460px;
        }
        
      }
}
// min-width: 1024px
@include pad-H {
    .about_us_content{
        padding: 100px 0 100px 0;
        gap: 80px;
        .about_us_text{
            h3{ font-size: $xl-font;
            }
            p{ font-size: $m-font;
            }
        }
    }
    .about_farmer{
        padding: 50px;
        .farmer_pic{
            flex: 1;
        }
        .about_farmer_future{
            flex: 2;
        }
        .about_orderpic{
            display: flex;
        }
    }

}
// min-width: 1200px
@include desktop {
    .about_us{
        position: relative;
        .about_us_content{
            &::before {
            position: absolute;
            top: 20%;
            right: 60%;
            content: '';
            width: 100px;
            height: 300px;
            background-image: url('../assets/images/about/decorate_grass.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        } 
            &::after {
            position: absolute;
            top: 15%;
            left: 50%;
            content: '';
            width: 100px;
            height: 300px;
            background-image: url('../assets/images/about/decorate_grass.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        } 
        }
 
        .about_us_content{
            margin: 0px;
        }
    }
    .about_farmer{
        position: relative;
        &::before {
            position: absolute;
            left: 47%;
            top: -25%;
            content: '';
            width: 100px;
            height: 300px;
            background-image: url('../assets/images/index/line_green.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            transform:rotate(90deg);
        }
        &::after {
            position: absolute;
            left: 47%;
            bottom: -25%;
            content: '';
            width: 100px;
            height: 300px;
            background-image: url('../assets/images/index/line_green.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            transform:rotate(90deg);
        }
        
        .about_farmer_decorate{
            display: block;
            position: absolute;
            bottom: 375px;
            left: 611px;
            transform: rotate(90deg);
        }
        .about_farmer_decorate1{
            display: block;
            position: absolute;
            top: 375px;
            left: 611px;
            transform: rotate(90deg);
        }
    }
    .about_order {
        h3 {
          font-size: 36px;
        }
      
        .about_order_content {
          display: flex;
          justify-content: center;
        }
      
        .about_order_pic {
          margin: auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
      
          .index_order_pic {
            width: 100%;
            align-items: center;
      
            img {
              width: 100%;
            }
          }
      
          .index_order_arrow {
            display: none;
          }
      
          // 下面2张照片样式
          .even,
          .odd {
            width: 26%;
            margin-bottom: 20px;
      
            // 奇数索引（即下面两张照片）在desktop下水平居中
            @include desktop {
              margin: 0 auto 20px;
            }
          }
      
          .qq {
            border-radius: 100px;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            margin-top: 10px;
          }
        }
      }
      
      
      
      .about_ask {
        /* ...其他样式... */
        .form-container {
          /* 调整输入框的宽度 */
          .name input,
          .email input {
            width: 400px;
          }
          .order input{
            width: 810px;
          }
        }
        .note textarea {
            margin: 9px;
            width: 810px;
          }
      }
      } 
  