.container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center
    
}
.bar_wrap{
    @include pill(350px,20px);
    max-width: 350px;
    border-radius: 31px;
border: 2px solid #2F9748;
background: #FFF;
margin-top: $sp6;
    .bar{
        @include pill(50%,100%);
        font-size: 0;
        background-color:#FF7272;
        color: #fff;
        text-align: center;
        position: relative;
        span{
            font-size:$xs-font;
            line-height: $xs-font;
        }
        .icon{
            width: 60px;
            height: 60px;
            position: absolute;
            right: -30px;
            top: -25px;
            img{
                width: 100%;
                vertical-align: top;
            }
        }
    }
}
.solgan{
    font-size: $xs-font;
    color: $primary;
    margin-top: $sp4;
}
.card{
    width: 100%;
    border-radius: 30px;
    border: 4px solid #1F8D61;
    padding: 25px;
    margin-top: $sp6;
    background-color: $primary--;
    .wrap{
        width: 100%;
        border-radius: 30px;
        padding: $sp2;
        background-color: $bg--;
        color: $primary;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title{
            font-size: $xs-font;
        }
        .question{
            font-size: $s-font;
            text-align: center;
        }
        .pic{
            width: 100%;
            border-radius: 0;
        }
        .choose_btn{
            padding: $sp2;
            font-size: $m-font;
            background-color: $secondary--;
            width: 100%;
            margin-top: $sp2;
            border-radius: 30px;
        }
        .next_btn{
            @extend .choose_btn;
            color: #FFF;
            background-color:$primary;
            width: 90%;
        }
    }

}