.giftcard_container{
    padding: $sp2;

    .giftcard_banner {
        position: relative;
    
    h3{
        font-size: $xl-font;
        color: $primary;
        text-align: center;
        font-weight: bold; 
        position: absolute;
        top:15%; 
        left: 35%; 
    }
    p{
        font-size: $s-font;
        color: $primary;
        text-align: center;
        position: absolute;
        top:38%; 
        left:25%;
    }}

    .giftcardSection{

        .giftcard_title{
            width: 202px;
            height: 50px;
            border: solid 2px $primary;
            border-radius: 60px;
            display: flex;
            justify-content: flex-start;
            gap: 10px;
            align-items: center;
            align-content: center;
            position: relative;
            top: 25px;
            background-color: $bg--;
            img{
                margin-left: 20px;
            }
        
    span{
        color: $primary;
        font-size: 18px;
        font-weight: bold;
    }
    p{
        font-size: 16px;
    }
    }
    .buyGiftcard_text{
        width: 100%;
        height: 278px;
        border: solid 2px $primary;
        border-radius: 40px;
        background-color: $bg--;
        padding: $sp3;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        p{
            margin-top: auto;
        }
        button{
        margin-left: auto;
        margin-top: auto;
        }
    }}

    .bgcShape_middle{
        display: block;
            position: absolute;
            
            width: 70%;
            right: 0px;
            bottom: 0px;
            z-index: -1;

    }


    .bgcShape_bottom{
            display: block;
            position: absolute;
            width: 100%;
            left: -40%;
            bottom: -500px;
            z-index: -1;
    }

}
#banner_desktop{
    display: none;
}

//斷點 768px
@include pad-V{

.giftcard_container{
#banner_mobile {
    display: none;
}
#banner_desktop{
    display: block;
}
.giftcardSection{
    display: flex;
    justify-content: center;
    gap: 20px;

    .sectionWrap{
        width: 45%;
    }
}
 .giftcard_title {
    h3{
    left:44%;
    top:22%;
    }p{
        left:39%;
        top:43%;
    }
}
.bgcShape_middle{
    width: 50%;
    bottom:1100px;
}
.bgcShape_bottom{
    bottom: 600px;
}
}}



//斷點 1024px
@include pad-H{
    .giftcard_container{
    .bgcShape_middle{
        bottom:60%;
    }
    .bgcShape_bottom{
        bottom: 20%;
    }
}}

//斷點 1920px
@media screen and (min-width: 1900px){
    .giftcard_container{
        .bgcShape_middle{
            bottom:60%;
        }
        .bgcShape_bottom{
            width: 70%;
            left: -30%;
            bottom: -40%;
        }
}}

