.giftcard_progress_container {
    padding: $sp2;
    padding-top: 100px;
}


// 進度條

.progressbar-container {
    width: 90%;
    position: absolute;
    z-index: 1;
    margin-top: -90px;
    border: solid 2px $primary;
    border-radius: 50px;
    background-color: $bg--;
    padding: 10px;
    box-sizing: border-box;
}

.progressbar {
    counter-reset: step;
}

.progressbar li {
    float: left;
    /* width: 14.28%; */
    width: 20%;
    position: relative;
    text-align: center;
    font-size: 14px;
    color: $primary--;
    cursor: pointer;
    line-height: 20px;
}

.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    border: 2px solid $primary--;
    display: block;
    margin: 0 auto 2px auto;
    border-radius: 50%;
    line-height: 27px;
    background: $bg--;
    color: $primary--;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.progressbar li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: $primary--;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progressbar li.active:before {
    border-color: $primary;
    background: $primary;
    color: $bg--
}

.progressbar li.active:after {
    background: $primary;
}

.progressbar li.active:after {
    background: $primary;
}

.progressbar li.active:before {
    border-color: $primary;
    background: $primary;
    color: white
}

.progressbar li.active {
    color: $primary;
}

.progressbar li:first-child:after {
    content: none;
}

#progressbar {
    display: none;
}

//表格框

.form_container {
    border: $primary 2px solid;
    border-radius: $xl-br;
    background-color: $bg--;
    padding: $sp3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 80px;

    .decoration-tomato,
    .decoration-carrot {
        display: none;
    }

    h5 {
        font-weight: bold;
        text-align: center;
        font-size: $m-font;
        color: $primary;
    }

    .to-button {
        display: flex;
        justify-content: center;
        gap: 20px
    }

    .inactive {
        background-color: transparent;
        color: $primary;
        box-shadow: 0px 3px 0px #000;
    }

    .recipient-input {
        display: flex;
        flex-direction: column;
        gap: 12px;

        label {
            margin-top: 10px;
            margin-left: 15px;
        }

        #date {
            display: block;
            font-size: $xs-font;
            line-height: 1.5;
            background-color: transparent;
            border-radius: $xs-br;
            padding: $sp1 $sp3;

            &::placeholder {
                color: rgba(0, 0, 0, 0.5);
                font-size: $xs-font;
            }
        }
    }

    .error-message {
        span {
            color: #FF7272;
            font-size: 14px;
        }
    }

    .nextstep {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 100%;
        // width: 75vw

    }

    .select-pic {
        border: 3px solid $primary;
        border-radius: 20px;
        max-width: 480px;
        max-height: 280px;
        min-width: 236px;
        min-height: 138px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .selected-pic {
        // 選到的樣式粗框線條
        border: 2px solid $primary;
        border-radius: 20px;

        //   選到的樣式右上角的勾勾 
        // i {
        //     position: absolute;
        //     top: 10%;
        //     left: 40%;

        // }


    }

    .piclist {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 100%;
        max-width: 480px;
        display: flex;
        justify-content: space-between;
        gap: 5px;

        img {
            cursor: pointer;
        }


        .left-button,
        .right-button {
            background: $bg--;
        }
    }

    .upload_button {
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        button {
            width: 100%;
        }

        label {
            display: block;
            width: 100%;

        }
    }

}
.giftcard_pic{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.giftcard_pic img {
    border-radius: 20px;
    border: 2px solid $text;
    width: 144px;
    height: 87px
}

.previousstep {
    margin-right: auto;
    margin-bottom: 10px;

}



.add-sticker,
.sticker-list {
    position: relative;
}

.add-sticker,
.add-text {
    text-align: center;
    font-size: 20px;
}

.sticker-list {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;

    img {
        cursor: pointer;
    }
}

.text-input {

    position: relative;
    width: 230px;

    input {
        padding-right: $sp4;
        width: 200px;
    }
    
    
    .fa-arrow-turn-down {
       color: #1f8d61; 
       position: absolute;
        top: 13px;
        right: 6px;
    }
}

.add-text-content {
    display: flex;
    justify-content: space-around;
}

// .fa-palette {
//     font-size: 40px;
//     cursor: pointer;
// }

#giftcard-money {
    text-align: center;
    display: block;
    color: $primary !important;
    font-weight: bold;
    width: 150px;
    background-color: #fff !important;
    font-size: $m-font;
    line-height: 1.5;
    // background-color: transparent;
    border-radius: $xs-br;
    padding: $sp1 $sp3;

    &::placeholder {
        color: $primary;
        font-size: $s-font;
    }

    &:disabled {
        -webkit-text-fill-color: $primary;
        opacity: 1;
        /* required on iOS */
    }
}

.giftcard-money-input {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 150px;

    i {
        font-size: $l-font;
        width: 20px;
        position: absolute;
        top: 25%;
        left: 10%
    }
}

.giftcard-money-wrap {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;

    .giftcard-money-button {
        margin-top: 10px;
        margin-bottom: 10px;

        button {
            background-color: #fff;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 90px;
            height: 46px;
            border: 1px solid $text;
            border-radius: 26px;

            &:hover {
                transform: translate(0px, 0px);
                background-color: $primary;
                color: #fff;

                &::before {
                    right: 0%;
                }
            }

            img {
                width: 22px;
                height: auto;
            }
        }
    }
}

.finished {
    margin-left: auto;
    margin-right: auto;

    // i {
    //     font-size: 70px;
    //     margin-bottom: 10px;
    // }
}

.text-wrap {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column
}

.finished-text,
.selected-giftcard-amount {
    display: flex;
    justify-content: flex-start;
    margin-top: $sp2;
    gap: $sp2;

    .finished-title {
        width: 6rem;
        text-align: end;
    }

    .finished-item {
        // width: 10rem;

        span {
            color: $primary;
        }
    }
}

//樣式輪播
.box {
    img {
        width: 100%;
    }

    padding: 0 $sp1;
    box-sizing: border-box;
}

.form_container {

    .carousel__next,
    .carousel__prev {
        transition: .3s;
        @extend .btn_flat;
        aspect-ratio: 1/1;
        border-radius: 50%;
        position: absolute;
        background-color: $primary;

        svg {
            fill: #fff;
        }

        &:hover {
            transform: translateY(-50%);

            svg {
                fill: #fff;
            }
        }
    }

    .carousel__prev {
        left: -8%;

        &::before {
            right: -100%;
        }
    }

    .carousel__next {
        right: -8%;
    }
}

.stickerBox {
    img {
        width: 100%;
        padding: 0 $sp1;
    }

    box-sizing: border-box;
}

.sticker-overlay {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: move;
}


//   @media screen and (min-width: 574px){
//     .form-container {

//         padding: 20px 80px

// }}

//斷點 768px
@include pad-V {
    .bgc {
        background-image: url(@/assets/images/icon_bg/bg_lightgreenWave.svg);
        background-repeat: no-repeat;
        background-position: 0% 100%;
        background-size: 100%;
        margin-bottom: -80px;
        z-index: -1;
        overflow: hidden;
    }

    .giftcard_progress_container {
        max-width: 860px;
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;


    }

    .root {
        width: 90%;
        // padding: 0 $sp2;
    }

    #progressbar {
        display: block;
    }

    .progressbar {
        display: none;
    }

    .progressbar-container {
        max-width: 860px;
        width: 86%;
        display: block;
        margin-left: auto;
        margin-right: auto;




        li {
            font-size: 18px;
            line-height: 28px;
        }

        .progressbar li:before {
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 24px;
        }

        .progressbar li:after {
            top: 25px;
        }


    }

    .form_container {
        padding: 40px 100px;
        margin-top: 40px;
        position: relative;

        .select-pic {

            min-width: 480px;
            min-height: 280px;
        }

        .nextstep {
            font-size: $s-font;
        }

        .decoration-tomato {
            display: block;
            position: absolute;
            top: -3%;
            left: -5%;

            img {
                width: 70%;
                height: auto;
            }

        }

        .decoration-carrot {
            display: block;
            position: absolute;
            right: -15%;
            bottom: -10%;
        }

        .text-input {
            input {
                padding-right: $sp4;
                width: 300px;
            }

            .fa-arrow-turn-down {
   
                right: -20%;
            }
        }

        .add-text-content {
            display: flex;
            justify-content: space-evenly;
            align-items: baseline;
            gap: 20px;
        }

        .giftcard-money-wrap {

            width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
    }


    //斷點 1024px
    @include pad-H {
        .form_container {
            width: 860px;
            padding: 60px 190px;
        }
    }

    //斷點 1200px
    @include desktop {
        .bgc {
            background-size: 100%;
            background-position: 0% 100%;
        }


    }
}

/* 定义选中图片的样式 */
.piclist .selected img {
    border: 3px solid $primary;
}