.mainheader{
    position: fixed;
    top: 0;
    left: 0;
    background-color: $bg;
    height: var(--mobile-head);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $sp3;
    nav{
        position: fixed;
        top: var(--mobile-head);
        left: 0;
        width: 100%;
        height: 0;
        background-color: $bg--;
        display: flex;
        flex-direction: column;
        a{
            font-weight: 700;
            line-height: 48px;
            padding: 0 $sp5;
            border-bottom: 2px solid $bg;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-50px);
        }
    }
    nav.open{
        height: calc(100vh - var(--mobile-head));
        a{
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
}
%nav-button{
    width: 44px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid $primary;
}
.hamburger{
    @extend %nav-button;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    span{
        @include pill(60%, 2px);
        background-color: $primary;
    }
}
.member{
    @extend %nav-button;
    img{
        display: block;
        margin: auto;
        width: 24px;
    }
}
@include desktop{
    .mainheader{
        background-color: $primary--;
        height: 110px;
        nav{
            margin-left: auto;
            margin-right: $sp2;
            align-items: center;
            gap: 70px;
            padding: 0 $sp5;
            height: fit-content;
            background-color: $primary;
            border-radius: 50rem;
            a{
                color: $bg--;
                line-height: 60px;
                &:hover{
    
                }
            }
        }
    }
}