
.login-container{
    margin: 20px;
    padding: 30px;
    width: 450px;
    border: solid 2px;
    border-radius: 10px;
    background-color: #ffffff80;
    h4{
        text-align: center;
        margin: 10px;
        font-size: $m-font;
    }
    .text{
        width: 358px;
        margin-left: auto;
        margin-right: auto;
        input{
            width: 358px;
            margin: 10px 0;
            background-color: #fff;
        }   
    }
    .text_bottom{
        display: flex;
        justify-content: space-between;
        padding: 10px 0 ;
        input{
            width: 10px;
            margin: 0 5px 0 0;
        }
        a{
            color: #575655;
            text-decoration: underline;
        }
    }
    hr{
        width: 358px;
    }
    .signup{
        display: flex;
        justify-content: right;
        margin: 20px 20px 20px 0;
        a{
            color: #575655;
            text-decoration: underline;
        }
    }
    p{
        text-align: center;
        margin: 20px;
    }
    img{
        width: 43px;
        margin: 0 25px;
    }
    .icon{
        display: flex;
        justify-content: center;
    }
}
button{
    margin-left: auto;
    margin-right: auto;
}
section{
    max-width: 1920px;
    .login-good{
        display: flex;
        justify-content: center;
    }
}