
.login-container{
    width: 450px;
    border: solid 1px;
    h4{
        text-align: center;
    }
    .text{
        width: 358px;
        margin-left: auto;
        margin-right: auto;
        input{
            width: 358px;
            margin: 10px 0;
        }   
    }
    .text_bottom{
        display: flex;
        justify-content: space-between;
        padding: 10px 0 ;
        input{
            width: 10px;
            margin: 0 5px 0 0;
        }
        a{
            color: #575655;
            text-decoration: underline;
        }
    }
    hr{
        width: 358px;
    }
    .signup{
        display: flex;
        justify-content: right;
        margin: 20px 20px 20px 0;
        a{
            color: #575655;
            text-decoration: underline;
        }
    }
    p{
        text-align: center;
        margin: 20px;
    }
}
button{
    margin-left: auto;
    margin-right: auto;
}