//頁面主標題
.meatPage_title{
    h4{
        text-align: center;
        font-size: $s-font;
        color: $primary;
        margin: $sp3;
    }
}
.meat_btn{
    display: none;
}
//肉品介紹卡片
.meat_card_container{
    position: relative;
    display: flex;
    justify-content: center;
    .meat_title{
        display: flex;
        justify-content: center;
        margin-bottom: $sp3;
        h5{
            font-size: $s-font;
            color: #ffffff;
            background-color: $primary;
            padding: $sp1;
            width: 75px;
            border-radius: $xs-br;
            text-align: center;
        }
    }
    .meat_card_box_m{
        margin: $sp3 0;
        position: relative;
        .meat_card{
            margin: 0 $sp4;
            min-width: 315px;
            border: 4px solid #1F8D61;
            border-radius: $xs-br;
            padding: $sp3;
            background-color: $bg--;
            .meat_img_mob{
                width: 100%;
            }
            .farmer_title{
                font-size: $s-font;
                padding: $sp3;
                text-align: center;
            }
            .farmer_text{
                font-size: $s-font;
                position: relative;
            }
        }
        .chicken_ill{
            width: 50%;
            position: absolute;
            left: 30px;
            top: -30px;
        }
        .pork_ill{
            width: 50%;
            position: absolute;
            left: 0px;
            top: -30px;
        }
        .beef_ill{
            width: 50%;
            position: absolute;
            right: 10px;
            top: -80px;
        }
        .goat_ill{
            width: 50%;
            position: absolute;
            top: -70px;
            left: -5px;
        }
        .fish_ill{
            width: 23%;
            position: absolute;
            bottom: -80px;
            left: 10px;
        }
        .shrimp_ill{
            width: 30%;
            position: absolute;
            top: 5px;
            right: 15px;
        }
        .bg_top{
            width: 100%;
            position: absolute;
            z-index: -1;
            left: -90px;
            top: -130px;
        }
        .bg_bottom{
            width: 80%;
            position: absolute;
            z-index: -1;
            right: 20px;
            bottom: -180px;
        }
    }
    // 768px以上的卡片隱藏
    .meat_card_box{
        display: none;
    }
    .bg_img_t{
        display: none;
    }
    .bg_img_b{
        display: none;
    }
}


//斷點 768px
@include pad-V{
    .meat_btn{
        display: flex;
        justify-content: center;
        .chicken,.pork,.beef,.goat,.seafood{
            font-size: $s-font;
            padding: $sp2 $sp3;
            margin: $sp2;
        }
    }
    .meat_card_container{
        position: relative;
        #chickenSection,#porkSection,#beefSection,#goatSection,#seafoodSection{
            padding-top: $sp7;
        }
        .bg_img_t{
            display: block;
            position: absolute;
            width: 70%;
            left: -150px;
            bottom: -200px;
            z-index: -1;
        }
        .bg_img_b{
            display: block;
            position: absolute;
            width: 70%;
            right: 40px;
            bottom: -200px;
            z-index: -1;
        }
        .meat_card_box_m{
            display: none;
        }
        .meat_card_box{
            display: block;
            position: relative;
            margin: $sp5 $sp7;
            max-width: 1500px;
            border: 4px solid #1F8D61;
            border-radius: $xs-br;
            padding: $sp2 $sp5;
            background-color: $bg--;
            .meat_title{
                margin: $sp2 0;
            }
            //四個角的圓形
            // .circle_box{
            //     position: relative;
            //     div{
            //         width: 30px;
            //         height: 30px;
            //         background-color: $secondary--;
            //         border: 3px solid $primary;
            //         border-radius: 999em;
            //     }
            //     .circle_lt{
            //         position: relative;
            //         left: -20px;
            //     }
            // }
            .chicken_ill{
                width: 35%;
                position: absolute;
                z-index: 1;
                right: 0;
                top: -70px;
            }
            .pork_ill{
                width: 35%;
                position: absolute;
                z-index: 2;
                right: 20px;
                top: -70px;
            }
            .beef_ill{
                width: 35%;
                position: absolute;
                z-index: 2;
                left: 0;
                top: -95px;
            }
            .goat_ill{
                width: 35%;
                position: absolute;
                z-index: 2;
                right: 30px;
                top: -85px;
            }
            .shrimp_ill{
                width: 25%;
                position: absolute;
                z-index: 2;
                right: 30px;
                top: -70px;
            }
            .fish_ill{
                width: 13%;
                position: absolute;
                z-index: 1;
                left: -45px;
                bottom: -40px;
            }
            .card_top{
                display: flex;
                .meat_img{
                    position: relative;
                    z-index: 2;
                    margin-top: auto;
                    margin-bottom: auto;
                    img{
                        width: 100%;
                    }
                }
                //首圖底下背景
                .meat_img_bg{
                    position: absolute;
                    z-index: 1;
                    left: 20px;
                    top: 60px;
                    width: 40%;
                    height: 33%;
                    background-color: $secondary--;
                }
                .meat_img_bg_r{
                    position: absolute;
                    z-index: 1;
                    right: 20px;
                    top: 60px;
                    width: 40%;
                    height: 33%;
                    background-color: $secondary--;
                }
                .card_text{
                    max-width: 50%;
                    margin-top: auto;
                    margin-bottom: auto;
                    .farmer_title{
                        h3{
                            font-size: $s-font;
                            padding: $sp1;
                        }
                    }
                    .farmer_text{
                        p{
                            font-size: $xs-font;
                            padding: $sp1;
                        }
                    }
                }
            }
            .card_bottom{
                display: flex;
                p{
                    font-size: $xs-font;
                }
                span{
                    font-size: 16px;
                    margin: $sp1 0;
                }
                .farmer_img_lf{
                    margin-top: $sp3;
                    width: 95%;
                    img{
                        width: 100%;
                    }
                }
                .farmer_img_md{
                    margin: $sp3;
                    width: 95%;
                    img{
                        width: 100%;
                    }
                }
                .farmer_img_rg{
                    margin-top: $sp3;
                    width: 95%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}

//斷點 1024px
@include pad-H{
}

//斷點 1200px
@include desktop{
    .meat_card_box{
        .farmer_title{
            h3{
                font-size: $l-font;
            }
        }
    }
}