//頁面主標題
.meatPage_title{
    h4{
        text-align: center;
        font-size: $s-font;
        color: $primary;
        margin: $sp3;
    }
}
.meat_btn{
    display: none;
}
//肉品介紹卡片
.meat_card_container{
    position: relative;
    display: flex;
    justify-content: center;
    .meat_title{
        display: flex;
        justify-content: center;
        margin-bottom: $sp3;
        h5{
            font-size: $s-font;
            color: #ffffff;
            background-color: $primary;
            padding: $sp1;
            width: 75px;
            border-radius: $xs-br;
            text-align: center;
        }
    }
    .meat_card_box_m{
        margin: $sp3 0;
        position: relative;
        .meat_card{
            position: relative;
            margin: 0 $sp4;
            min-width: 315px;
            border: 4px solid #1F8D61;
            border-radius: $xs-br;
            padding: $sp3;
            background-color: $bg--;
            .chicken_ill{
                width: 200px;
                position: absolute;
                left: 20px;
                transform: translateY(40%);
                bottom: 100%;
                z-index: 1;
            }
            .pork_ill{
                width: 180px;
                position: absolute;
                left: -20px;
                // transform: translateY(10%);
                bottom: 100%;
                z-index: -1;
            }
            .beef_ill{
                width: 180px;
                position: absolute;
                right: 0px;
                // transform: translateY(30%);
                bottom: 100%;
                z-index: 1;
            }
            .goat_ill{
                width: 160px;
                position: absolute;
                // transform: translateY(25%);
                bottom: 100%;
                left: -10px;
                z-index: -1;
            }
            .fish_ill{
                width: 80px;
                position: absolute;
                transform: translateY(-60%);
                top: 100%;
                left: -30px;
                z-index: 1;
            }
            .shrimp_ill{
                width: 120px;
                position: absolute;
                transform: translateY(35%);
                bottom: 100%;
                right: 5px;
                z-index: 1;
            }
            .meat_img_mob{
                width: 100%;
            }
            .farmer_title{
                font-size: $s-font;
                padding: $sp3;
                text-align: center;
            }
            .farmer_text{
                // text-indent:2em;
                font-size: $s-font;
                position: relative;
                z-index: 2;
            }
            //輪播
            // section.carousel {
            //     padding: 50px 0;
            // }
            .box {
                img{
                    width: 100%;
                    padding: 0 $sp2;
                }
            }
            .carousel__next,
            .carousel__prev {
                transition: .3s;
                @extend .btn_flat;
                aspect-ratio: 1/1;
                border-radius: 50%;
                position: absolute;
                background-color: $primary;
                svg {
                    fill: #fff;
                }
            
                &:hover {
                    transform: translateY(-50%);
            
                    svg {
                        fill: #fff;
                    }
                }
            }
            .carousel__prev {
                &::before {
                    right: -100%;
                }
            }
        }
        
        
        .bg_top{
            width: 100%;
            position: absolute;
            z-index: -1;
            left: -90px;
            top: -130px;
        }
        .bg_bottom{
            width: 80%;
            position: absolute;
            z-index: -1;
            right: 20px;
            bottom: -180px;
        }
    }
    // 768px以上的卡片隱藏
    .meat_card_box{
        display: none;
    }
    .bg_img_t{
        display: none;
    }
    .bg_img_b{
        display: none;
    }
}


//斷點 768px
@include pad-V{
    .meat_btn{
        display: flex;
        justify-content: center;
        .chicken,.pork,.beef,.goat,.seafood{
            font-size: $s-font;
            padding: $sp2 $sp3;
            margin: $sp2;
        }
    }
    .meat_card_container{
        position: relative;
        #chickenSection,#porkSection,#beefSection,#goatSection,#seafoodSection{
            padding-top: $sp7;
        }
        .bg_img_t{
            display: block;
            position: absolute;
            width: 70%;
            left: -150px;
            bottom: -200px;
            z-index: -1;
        }
        .bg_img_b{
            display: block;
            position: absolute;
            width: 70%;
            right: 40px;
            bottom: -200px;
            z-index: -1;
        }
        .meat_card_box_m{
            display: none;
        }
        .meat_card_box{
            display: block;
            position: relative;
            margin: $sp5 $sp7;
            max-width: 1200px;
            border: 4px solid #1F8D61;
            border-radius: $xs-br;
            padding: $sp2 $sp5;
            background-color: $bg--;
            .meat_title{
                margin: $sp3 0;
            }
            .chicken_ill{
                width: 250px;
                position: absolute;
                z-index: 1;
                right: 0;
                transform: translateY(40%);
                bottom: 100%;
            }
            .pork_ill{
                width: 250px;
                position: absolute;
                z-index: 2;
                right: 20px;
                transform: translateY(35%);
                bottom: 100%;
            }
            .beef_ill{
                width: 250px;
                position: absolute;
                z-index: 2;
                left: 0;
                transform: translateY(35%);
                bottom: 100%;
            }
            .goat_ill{
                width: 250px;
                position: absolute;
                z-index: 2;
                right: 30px;
                transform: translateY(35%);
                bottom: 100%;
            }
            .shrimp_ill{
                width: 150px;
                position: absolute;
                z-index: 2;
                right: 30px;
                transform: translateY(40%);
                bottom: 100%;
            }
            .fish_ill{
                width: 100px;
                position: absolute;
                z-index: 1;
                left: -50px;
                transform: translateY(-60%);
                top: 100%;
            }
            .card_top{
                display: flex;
                .meat_img{
                    position: relative;
                    z-index: 2;
                    margin-top: auto;
                    margin-bottom: auto;
                    img{
                        width: 100%;
                    }
                }
                //首圖底下背景
                .meat_img_bg{
                    position: absolute;
                    z-index: 1;
                    left: 20px;
                    transform: translateY(172%);
                    bottom: 100%;
                    width: 40%;
                    height: 20%;
                    background-color: $secondary--;
                }
                .meat_img_bg_r{
                    position: absolute;
                    z-index: 1;
                    right: 20px;
                    transform: translateY(168%);
                    bottom: 100%;
                    width: 40%;
                    height: 20%;
                    background-color: $secondary--;
                }
                .card_text{
                    max-width: 50%;
                    margin-top: auto;
                    margin-bottom: auto;
                    .farmer_title{
                        h3{
                            font-size: $s-font;
                            padding: $sp1;
                        }
                    }
                    .farmer_text{
                        p{
                            font-size: $xs-font;
                            padding: $sp1;
                        }
                    }
                }
            }
            .card_bottom{
                display: flex;
                p{
                    font-size: $xs-font;
                }
                span{
                    font-size: 16px;
                    margin: $sp1 0;
                }
                .farmer_img_lf{
                    margin-top: $sp3;
                    width: 95%;
                    img{
                        width: 100%;
                    }
                }
                .farmer_img_md{
                    margin: $sp3;
                    width: 95%;
                    img{
                        width: 100%;
                    }
                }
                .farmer_img_rg{
                    margin-top: $sp3;
                    width: 95%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}

//斷點 1024px
@include pad-H{
    .meat_card_container{
        .meat_card_box{
            .card_top{
                .meat_img_bg{

                    left: 20px;
                    transform: translateY(165%);
                    bottom: 100%;
                    width: 40%;
                    height: 30%;
                }
                .meat_img_bg_r{
                    position: absolute;
                    z-index: 1;
                    right: 20px;
                    transform: translateY(160%);
                    bottom: 100%;
                    width: 40%;
                    height: 30%;
                    background-color: $secondary--;
                }
                .card_text{
                    .farmer_title{
                        h3{
                            // outline: solid red;
                            font-size: $m-font;
                        }
                    }
                    .farmer_text{
                        p{
                            font-size: $s-font;
                            text-indent: 2em;
                        }
                    }
                }             
            }
            
        }
    }
}

//斷點 1200px
@include desktop{
    .meat_card_container{
        .meat_card_box{
            width: 1000px;
            .card_top{
                .card_text{
                    .farmer_title{
                        h3{
                            font-size: $m-font;
                            margin: 0 $sp1;
                        }
                    }
                    .farmer_text{
                        p{
                            margin: 0 $sp1;
                            font-size: $s-font;
                            text-indent: 2em;
                        }
                    }
                }             
            }
            .card_bottom{
                margin: $sp2 0;
                display: flex;
                p{
                    font-size: $xs-font;
                }
                span{
                    font-size: $s-font;
                    margin: $sp1 0;
                }
            
            }
        }
    }
        
}