main{
  max-width: 1920px;
  margin:auto;
  padding:0 120px;
  section {
    width: 70%;
    overflow:hidden;
    .pro_header {
      width: 100%;
      padding: $sp5;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
      font-family: Inter;
      // font-size: $xs-font;
      font-weight: 700;
      button {
        position: absolute;
        left: 0;
      }
      .title{
        display:flex;
        align-items:center;
        gap:10px;
        .type {
          width: 98px;
          height: 42px;
          flex-shrink: 0;
          border-radius: 30px;
          background: #fed550;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            color: #fff;
            font-size: $xl-font;
            font-family: "Noto Sans TC";
          }
        }
      }
    }
}
}
