.main_wrap {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 1200px;
    // min-width: 414px;
    margin: auto;
}

//選單
.selectmain {
    width: 100%;

    .select_bar {
        background-color: $secondary;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;

        .item {
            width: 100%;
            padding: 12px 40px;
            font-size: $m-font;
            font-weight: 700;
            border-bottom: 5px solid transparent;

            &:hover {
                border-bottom: 5px solid $text;
            }
        }
    }
}


// 不包含的食材
.select_adjust {
    position: relative;

    .adjust {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    mask {
        z-index: 23;
    }

    .hatefood {
        width: 100%;
        height: 90%;
        background-color: $bg;
        border-radius: 20px 20px 0 0;
        position: fixed;
        z-index: 24;
        bottom: 0;
        display: flex;
        flex-direction: column;

        .title {
            font-size: $s-font;
            text-align: center;
            border-bottom: 1px solid $secondary;
            padding: 20px;
        }

        .cant {
            padding: 20px;
            overflow: auto;
            min-height: 20px;
            flex-grow: 1;

            .subtitle {
                padding: 20px;
                font-size: $s-font;
            }


            .allergy,
            .dislike {
                display: inline-block;
                padding: 10px 30px;
                border-radius: 30px;
                border: 3px solid #FED550;
                margin: 7px;
                cursor: pointer;
                flex: 1;
                text-align: center;

                &:active {
                    background-color: #FFF6B4;
                }
            }
        }

        .text {
            font-size: $xs-font;
            padding: 30px 30px 0 30px;
            bottom: 104px;
            height: fit-content;

            .connect {
                font-weight: 700;
                cursor: pointer;
                text-decoration: underline;

                &:hover {
                    color: $primary;
                }
            }
        }

        .adjust_btn {
            width: 100%;
            padding: 30px;
            display: flex;
            justify-content: center;
            gap: 20px;
            height: fit-content;

            .cross {
                width: 20%;
            }

            .down {
                width: 80%;
            }
        }
    }
}

// 菜色選擇
.info {

    .food_pic {
        height: 350px;
        overflow: hidden;

        img {
            width: 100%;
        }

    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    .menu_title {
        // margin: auto;
        text-align: center;
        width: 90%;
        max-width: 600px;
        font-weight: 700;
        padding: $sp2;
        font-size: $m-font;
        border-radius: 50rem;
        background-color: #EDEBDA;
        color: $primary;
        border: solid 6px #fff;
        margin: 40px 0 20px 0;
    }

    .wrap_main_dish {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        margin-bottom: 20px;
        padding: 10px;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: space-between;

        .pic {
            border-radius: $s-br;
        }
    }

    .card h3 {
        text-align: center;
        font-size: $s-font;
        padding: 20px;
    }
}

// 清單、結帳按鈕
.choosewrap {
    z-index: 10;

    .shop_btn {
        position: fixed;
        bottom: 0px;
        left: 0;
        z-index: 21;
        width: 100%;
        padding: 30px;
        display: flex;
        gap: 20px;
        background-color: $bg;

        .list_btn {
            width: 20%;
        }

        .checkout_btn {
            width: 80%
        }
    }
}

.step_wrap {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: fixed;
    bottom: 0;
    background-color: $bg;
    border-radius: 20px 20px 0 0;
    z-index: 20;

    .one {
        margin-top: 6%;
    }
}

// 步驟
.step {
    width: 90%;
    border: 3px solid $primary;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: fit-content;

    .title {
        display: flex;
        padding: 20px;

        p {
            font-size: $s-font;
            color: $primary;
            font-weight: 700;

            &:nth-child(3) {
                margin-left: auto;
            }

            span {
                font-size: $s-font;
                color: $primary;
                padding: 0 10px;
            }
        }
    }
}

//步驟過渡動畫
.expand-enter-active,
.expand-leave-active {
    transition: transform 0.1s ease;
    overflow: hidden;
}

.expand-enter,
.expand-leave-to {
    transform: scaleY(0);
    opacity: 0;
    overflow: hidden;
}

// 步驟一內容
.content_one {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .wrap {
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
            font-size: $s-font;
        }

        .choose {
            display: flex;
            justify-content: space-between;
            gap: 15px;

            .option_plan {
                padding: 20px 0;
                background-color: $secondary--;
                border-radius: 10px;
                font-weight: 700;
                width: 100%;
                text-align: center;
            }

            .option_meal,
            .option_week {
                padding: 20px 0;
                background-color: $secondary--;
                border-radius: 10px;
                font-weight: 700;
                width: 100%;
                text-align: center;
            }

            .radio_plan {
                font-size: $xs-font;
                cursor: pointer;
            }

            .selected {
                background-color: $primary;
                color: #ffffff;
                cursor: pointer;
                border-radius: 10px;
                font-weight: 700;
            }

            .single {
                position: fixed;
                top: 400px;
                background-color: $bg;
                width: 320px;
                height: 220px;

                p {
                    font-size: $s-font;
                    display: flex;
                    justify-content: center;
                    transform: translateY(90px);
                }
            }
        }
    }
}

//步驟二內容
.content_two {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 400px);

    .topbtn {
        display: flex;
        padding: 0 20px 20px 20px;
        justify-content: space-between;
        align-items: center;

        .total_count {
            font-size: $m-font;

            span {
                font-size: $s-font;
            }
        }
    }

    .week_tap {
        display: flex;
        margin-left: -3px;
        margin-right: -3px;

        .week {
            flex: 1;
            display: flex;
            justify-content: center;
            padding: 12px 0;
            position: relative;
            border: 3px solid $primary;
            border-bottom: none;
            border-radius: 8px 8px 0 0;
            cursor: pointer;
            color: #ffffff;
            font-weight: 700;
            font-size: $xs-font;
            background-color: $primary;

            &.active {
                background-color: $bg;
                color: $primary;
                border-top: 3px solid $primary;
            }
        }
    }
}

.dishes {
    //設定卷軸
    overflow: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .no_item {
        font-size: $s-font;
        text-align: center;
        padding: $sp2 0;
    }

    .circle {
        display: flex;
        gap: 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid $text;
    }

    .dishes_pic {
        width: 30%;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    .dishes_content {
        width: 70%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .category_and_cancel {
            display: flex;
            justify-content: space-between;

            .category {
                font-size: $xs-font;
                font-weight: 700;
                padding: 6px 16px;
                border-radius: 20px;
                background-color: $secondary--;
            }

            .cancel {
                font-size: $m-font;
                cursor: pointer;
            }
        }

        .dishes_title {
            font-size: $xs-font;
            font-weight: 700;
        }

        .count {
            display: flex;
            justify-content: flex-end;
            padding-top: 20px;
            margin-top: auto;

            .reduce,
            .increase {
                background-color: transparent;
                border: none;
                background-color: $primary;
                color: #ffffff;
                width: 30px;
                height: 30px;
                text-align: center;
                display: inline-block;
                cursor: pointer;
                border-radius: 50%;
                flex-shrink: 0;
            }

            .common {
                width: 40px;
                background-color: transparent;
                border: none;
                padding: 4px 2px;
                margin: 0 8px;
                text-align: center;

                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }
    }
}

// @media screen and (min-width: 600px) {}

// min-width: 768px
@include pad-V {

    // 菜色選擇
    .info {

        .food_pic {
            height: 500px;
        }
    }

    .dishes {

        .dishes_pic {
            width: 30%;
        }
    }

    // 步驟
    .step {

        .title {
            padding: 16px;
        }
    }

    // 步驟一內容
    .content_one {

        .wrap {

            .choose {

                .radio_plan {
                    font-size: $s-font;
                    cursor: pointer;
                }

            }
        }
    }

    // 步驟二內容
    .content_two {
        flex-grow: 1;
        height: calc(100vh - 430px);
    }
}

// min-width: 1024px
@include pad-H {

    .main_wrap {
        display: flex;
        flex-direction: row;
        padding: 0 50px;
        gap: 20px;
    }

    .selectmain {
        width: 8%;
        position: sticky;
        top: 120px;

        .select_bar {
            flex-direction: column;
            background-color: $text;
            width: 5%;
            gap: 0px;

            .item {
                padding: 12px 20px;
                border-bottom: none;
                border-left: 8px solid transparent;
                font-size: $s-font;

                &:hover {
                    border-bottom: none;
                    border-left: 8px solid $secondary;
                }
            }
        }
    }

    // 不包含的食材
    .select_adjust {
        .adjust {
            position: relative;
            right: 0px;
            top: 20px;
        }

        .hatefood {
            width: 40%;
            left: 0;
            height: 100%;
            border-radius: 0;

            .adjust_btn {
                width: 100%;
            }
        }
    }

    .content_two {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 375px);

        .topbtn {
            display: flex;
            padding: 0 20px 20px 20px;
            justify-content: space-between;
            align-items: center;

            .total_count {
                font-size: $m-font;

                span {
                    font-size: $s-font;
                }
            }

            .delete {
                font-size: $xs-font;
            }
        }

        .dishes {
            gap: 15px;

            .circle {
                padding-bottom: 5px;
            }

            .dishes_content {
                .count {
                    padding-top: 10px;
                }
            }
        }
    }

    // 菜色選擇
    .info {
        width: 60%;

        .food_pic {
            height: 350px;
        }
    }

    // 清單、結帳按鈕
    .main_wrap {
        position: relative;
    }

    .choosewrap {
        width: 30%;
        position: sticky;
        top: 130px;
        z-index: 1;

        .shop_btn {
            position: relative;
            // bottom: 0;
            padding: 30px 0;
            z-index: 1;
            width: 100%;

            .list_btn {
                display: none;
            }

            .checkout_btn {
                width: 90%;
                margin: auto;
            }
        }

        .one {
            margin-top: 0;
        }
    }

    .step_wrap {
        width: 100%;
        position: relative;
        border-radius: 0;
        z-index: 1;
        height: auto;

        .step {
            width: 100%;

            .title {
                padding: 12px;

                p {
                    font-size: $s-font;

                    span {
                        font-size: $xs-font;
                    }
                }
            }
        }
    }
}

// min-width: 1200px
@include desktop {

    .choosewrap {
        top: 30px;
    }

    .content_two {
        height: calc(100vh - 275px);
    }
}
