
.source_container{
    transition: opacity 0.5s ease;
    padding-top: 100px;
    .sourcePage_title{
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        h4{
            font-size: $xl-font;
            color: $primary;
            width: 275px;
            border-left: solid 3px $primary;
            border-right: solid 3px $primary;
        }
        span{
            font-size: $l-font;
            color: $primary;
        }
    }
    .sourcePage_text{
        p{
            font-size: $s-font;
            color: $primary;
            text-align: center;
            white-space: pre-line;
            line-height: 30px;
        }
        h5{
            font-size: $s-font;
            color: $third;
            text-align: center;
            padding: 20px 0;
        }
        .arrow{
            padding: 20px 0;
            display: flex;
            justify-content: center;
            animation: shake 1s infinite;
            .triangle{
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 20px 10px 0 10px;
                border-color: $third transparent transparent transparent;
            }
            @keyframes shake {
                0% {
                  transform: translateY(0);
                }
                50% {
                  transform: translateY(-10px);
                }
                100% {
                  transform: translateY(0);
                }
            }
        }
    }
    .source_img_container{
        position: relative;
        transform: translateY(-25%);
        .farm_img{
            position: relative;
            width: 100%;
            // transform: translateY(30%);
            bottom: 100%;
            transition: opacity 1s;
            }
        }
        .farmer_img{
            width: 50%;
            position: absolute;
            transform: translateY(75%);
            bottom: 100%;
            left: -40px;
            transition: opacity 1s;
        }
        .pepper_img{
            width: 30%;
            position: absolute;
            right: 20px;
            transform: translateY(100%);
            bottom: 100%;
            transition: opacity 1s;
        }
    }
.taiwan_container{
    position: relative;
    height: 1500px;
    overflow: hidden;
    // .taiwan_container{
    //     width: 100%;
    //     height: 400vh;
    //     position: relative;
    // }

    .anchor1, .anchor2, .anchor3{
        position: absolute;
        display: block;
        width: 100%;
        // border: 1px red solid;
    }
    .anchor1{
        top: 10%;
    }
    .anchor2{
        top: 70%;
    }
    .anchor3{
        top: 90%;
    }
    .taiwan_sticky_container{
        width: 100%;
        height: 100vh;
        position: sticky;
        top: 0;
        overflow: hidden;
    }
    .taiwan_img{
        width: 30%;
        /* height: 100%; */
        position: absolute;
        top: 0%;
        left: 40%;
        transition: 3s;
    }
    .taiwan_img img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .taiwan_img.acr1{
        height: auto;
        width: 100%;
        left:-15%;
        top: 0%;
    }
    .taiwan_img.acr2{
        height: auto;
        width: 100%;
        left: 15%;
        top: -50%;
    }
    .taiwan_img.acr3{
        height: auto;
        width: 60%;
        left: 30%;
        top: -130%;
    }
    .fade-enter-active, .fade-leave-active {
        transition: opacity 0.5s;
    }
    
    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
    
    .ta_farmer01 {
        width: 30%;
        position: absolute;
        transform: translateX(40%);
        h3{
            padding: $sp2;
            background-color: $primary;
            color: #fff;
            border-radius: $xs-br;
            margin: $sp1 0;
            font-size: $s-font;
            text-align: center;
        }
        .check_in{
            position: relative;
            width: 30%;
            transform: translateX(250%);
            bottom: 100%;
        }
    }
    .ta_farmer02 {
        width: 30%;
        right: 120px;
        position: absolute;
        transform: translateY(50%);
        h3{
            padding: $sp2;
            background-color: $primary;
            color: #fff;
            border-radius: $xs-br;
            margin: $sp1 0;
            font-size: $s-font;
            text-align: center;
        }
        .check_in{
            position: relative;
            width: 30%;
            transform: translateX(-20%);
            bottom: 100%;
        }
    }
    .ta_farmer03 {
        width: 30%;
        left: 150px;
        position: absolute;
        transform: translateY(100%);
        h3{
            padding: $sp2;
            background-color: $primary;
            color: #fff;
            border-radius: $xs-br;
            margin: $sp1 0;
            font-size: $s-font;
            text-align: center;
        }
        .check_in{
            position: relative;
            width: 30%;
            transform: translateX(250%);
            bottom: 100%;
        }
    }
    .ta_farmer03.fade-enter-active,
    .ta_farmer03.fade-leave-active {
            transition: opacity 0.5s;
    }

    .ta_farmer03.fade-enter,
    .ta_farmer03.fade-leave-to {
            opacity: 0;
    }
    .ta_farmer04 {
        width: 30%;
        left: 120px;
        position: absolute;
        transform: translateY(105%);
        h3{
            padding: $sp2;
            background-color: $primary;
            color: #fff;
            border-radius: $xs-br;
            margin: $sp1 0;
            font-size: $s-font;
            text-align: center;
        }
        .check_in{
            position: relative;
            width: 30%;
            transform: translateX(250%);
            bottom: 100%;
        }
    }
    .ta_farmer05 {
        width: 30%;
        left: 350px;
        position: absolute;
        transform: translateY(200%);
        h3{
            padding: $sp2;
            background-color: $primary;
            color: #fff;
            border-radius: $xs-br;
            margin: $sp1 0;
            font-size: $s-font;
            text-align: center;
        }
        .check_in{
            position: relative;
            width: 30%;
            transform: translateX(250%);
            bottom: 100%;
        }
    }
    .ta_farmer06 {
        width: 30%;
        right: 130px;
        position: absolute;
        transform: translateY(135%);
        h3{
            padding: $sp2;
            background-color: $primary;
            color: #fff;
            border-radius: $xs-br;
            margin: $sp1 0;
            font-size: $s-font;
            text-align: center;
        }
        .check_in{
            position: relative;
            width: 30%;
            transform: translateX(-15%);
            bottom: 100%;
        }
    }
    .popup{
        position: fixed;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 500;
        .farmer1_popup{
            border-radius: $s-br;
            background-color: $bg;
            padding: $sp5;
            position: relative;
            h3{
                position: relative;
                z-index: 2;
                text-align: center;
                margin: $sp3 0;
                font-size: $m-font;
            }
            p{
                font-size: $s-font;
                position: relative;
                z-index: 2;
                margin: $sp1 0;
            }
            .farmer1_pop_img{
                position: relative;
                z-index: 2;
            }
            .popup_title_bg{
                width: 50%;
                position: absolute;
                left: 25%;
                top: 10px;
            }
            .popup_bottom{
                display: flex;
                p{
                    width: 50%;
                    font-size: $s-font;
                    position: relative;
                    margin: 0 $sp1;
                }
                .farmer1_pop_img2{
                    width: 50%;
                    position: relative;
                }
                .carrot{
                    position: absolute;
                    // top: 100%;
                    transform: translate(90%,155%);
                    img{
                        width: 60%;
                    }
                }
            }
            .popup_title_bg2{
                position: absolute;
                width: 80%;
                top: 150px;
                transform: translateX(5%);
            }
            
        }
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: rgba(0, 0, 0, 0.5);
        z-index: 9998;
    }
    
}

