.logo_wrap{
    display: flex;
    justify-content: center;
    margin: 25px;
    .logo{
        width: 100px;
        height: 130px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.welcome_container{
    // height: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
}
.frontside{
    margin: 40px;
    width: 400px;
    height: 250px;
    background-color: #1F8D61;
    border-radius: 20px;
    display: flex;
    align-items:center;
	justify-content:center;
    cursor: pointer;
    &:hover .logo_box {
        transition: opacity 1s ease;
        opacity: 0;
    }
    &:hover .logo_box2 {
        opacity: 1;
        transition: opacity 1s ease;
    }
    .title{
        p{
            color: #fff;
            font-size: 30px;
            text-align: center;
            span{
                color: #fff;
            }
        }
    }
    .logo_box{
        width: 310px;
        position: absolute;
        left: 145px;
        top: 100%;
        transform: translateY(-105%);
        img{
            width:20%;
        }
    }
    
    .logo_box2{
        width: 50%;
        position: absolute;
        left: 90px;
        top: 100%;
        transform: translateY(-101%);
        img{
            width:30%;
        }
        opacity: 0;
        transition: opacity 0.7s ease;
    }
}
.backside{
    margin: 40px;
    width: 400px;
    height: 250px;
    background-color: #1F8D61;
    border-radius: 20px;
    display: flex;
    align-items:center;
	justify-content:center;
    cursor: pointer;
    &:hover .logo_box {
        opacity: 0;
        transition: opacity 1s ease;
    }
    &:hover .logo_box2 {
        opacity: 1;
        transition: opacity 1s ease;
    }
    .title{
        p{
            color: #fff;
            font-size: 30px;
            text-align: center;
            span{
                color: #fff;
            }
        }
    }
    .logo_box{
        width: 310px;
        position: absolute;
        right: 265px;
        top: 100%;
        transform: translateY(-105%);
        img{
            width:20%;
        }
    }
    .logo_box2{
        width: 50%;
        position: absolute;
        right: 30px;
        top: 100%;
        transform: translateY(-101%);
        img{
            width:30%;
        }
        transition: opacity 1s ease;
        opacity: 0;
    }
}
.welcome_copyright{
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    margin-top: 100px;
    background-color: #575655;
    padding: 32px;
    p{
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
        color: #FFF7EA;
    }
    a{
        color: #FFF6B4;
    }
}